LOGGING_LEVEL=info
SPRING_PROFILES_ACTIVE=dev

DB_HOST=localhost
DB_PORT=5532
DB_NAME=farm_db
DB_USERNAME=dbusr
DB_PASSWORD=W4lFRuS0wosPePhL6Otr
SERVER_PORT_FARM=7783

APP_SERVER_URL=http://172.20.50.60:7783

DB_HOST_AUTH=localhost
DB_PORT_AUTH=5533
DB_NAME_AUTH=farm_auth_db
DB_USERNAME_AUTH=dbusr
DB_PASSWORD_AUTH=W4lFRuS0wosPePhL6Otr
AUTH_SERVER_PORT=7784

APP_SERVER_URL_AUTH=http://172.20.50.60:7784

OAUTH2_JWT_SECRET=secret-key

# openssl rand -base64 32

OAUTH2_JWT_AUDIENCE=farm.api
OAUTH2_JWT_AUTH_TOKEN_EXP=1
OAUTH2_JWT_AUTH_TOKEN_TYPE_EXP=hours
OAUTH2_JWT_REFRESH_TOKEN_EXP=7
OAUTH2_JWT_REFRESH_TOKEN_TYPE_EXP=days
OAUTH2_JWT_REFRESH_TOKEN_SECURE=dev #values dev or prod
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001

# To https simulate
SERVER_SSL_KEY_STORE=/home/mmoya@PragmaInvest.com/Documentos/maur025.server.local.p12
SERVER_SSL_KEY_STORE_PASSWORD=mauro123.
SERVER_SSL_KEY_STORE_TYPE=PKCS12
SERVER_SSL_KEY_ALIAS=tomcat