LOGGING_LEVEL=info
SPRING_PROFILES_ACTIVE=dev

DB_HOST=localhost
DB_PORT=5532
DB_NAME=farm_db
DB_USERNAME=dbusr
DB_PASSWORD=W4lFRuS0wosPePhL6Otr
SERVER_PORT=7783

APP_SERVER_URL=http://172.20.50.60:7783

DB_HOST_AUTH=localhost
DB_PORT_AUTH=5533
DB_NAME_AUTH=farm_auth_db
DB_USERNAME_AUTH=dbusr
DB_PASSWORD_AUTH=W4lFRuS0wosPePhL6Otr
AUTH_SERVER_PORT=7784

APP_SERVER_URL=http://172.20.50.60:7784

OAUTH2_JWT_SECRET=secret-key

# openssl rand -base64 32